html {
    scroll-snap-type: y mandatory;
}

.app {
    height: 100vh;
    background-color: black;
    display: grid;
    place-items: center;
}

.app_videos {
    position: relative;
    height: 800px;
    overflow: scroll;
    border-radius: 20px;
    width: 80%;
    max-width: 500px;
    scroll-snap-type: y mandatory;
}

@media (max-height: 800px) {
    .app_videos {
        height: 550px;
    }
}


@media (height: 720px) {
    .app_videos {
        height: 700px;
    }
}

@media (height: 823px) {
    .app_videos {
        height: 760px;
    }
}

@media (height: 812px) {
    .app_videos {
        height: 500px;
    }
}

@media (height: 653px) {
    .app_videos {
        height: 450px;
    }
}

.app_videos::-webkit-scrollbar {
    display: none;
}

.app_videos {
    -ms-overflow-style: none;
}