.videoSidebar {
    position: absolute;
    top: 50%;
    right: 10px;
    color: white;
}

@media (max-height: 800px) {
    .videoSidebar {
        top: 20%;
    }
}

@media (max-height: 900px) {
    .videoSidebar {
        top: 10%;
    }
}

@media (max-height: 653px) {
    .videoSidebar {
        top: 3%;
    }
}

.videoSidebar_button {
    padding: 20px;
    text-align: center;
    cursor: pointer;
}